<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- Register a section handler for the log4net section -->
  <configSections>
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Glue.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <!-- To enable internal log4net logging specify the following appSettings key -->
    <!-- <add key="log4net.Internal.Debug" value="true"/> -->
    <add key="Log4net-config-file" value="log.config"/>
  </appSettings>
  <!-- This section contains the log4net configuration settings -->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <userSettings>
    <Glue.Properties.Settings>
      <setting name="LogInput" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RawKeyNames" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ViewButtons" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="NormalizeMouseCoords" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ViewQueue" serializeAs="String">
        <value>False</value>
      </setting>
    </Glue.Properties.Settings>
  </userSettings>
</configuration>
